.title-div {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-color-light);

  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;

    .select-filter {
      width: 150px;
    }
  }
}

.data-el {
  gap: 10px;
  margin-bottom: 10px;

  .data-el-label {
    font-weight: 500;
  }
}
