.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: var(--primary-color-lighter);
}

.ant-table-wrapper .ant-pagination {
  margin-bottom: 0 !important;
  position: relative;
}

.ant-table-wrapper .ant-pagination .ant-pagination-total-text {
  position: absolute;
  left: 0;
  top: 0;
}
